<!DOCTYPE html>
<!--SoftTouchIT SiteC, version:1.0.686-->
<html>

<head>
    <title>学科列表</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="format-detction" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Cache-Control" content="private, no-cache, no-store, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta content="虚拟仿真,实验,国家虚拟仿真实验教学项目,国家虚拟仿真实验教学项目共享服务平台,本科,实验空间,ilab,ilab-x" name="keywords">
    <meta itemprop="image" content="/favicon.ico">
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="__STATIC__/css/dialog.css">
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <link rel="stylesheet" href="__STATIC__/css/header_v4.css">
    <link rel="stylesheet" href="__STATIC__/css/footer_v4.css">
    <link rel="stylesheet" href="__STATIC__/css/list-page.css">


    <script src="__STATIC__/js/core.js"></script>
    <script src="__STATIC__/js/sha256.js"></script>
    <script src="__STATIC__/js/json3.js"></script>

    <script src="__STATIC__/js/ie8.js"></script>
    <script src="__STATIC__/js/md5.js"></script>
    <script src="__STATIC__/js/dialog.js"></script>

    <script src="__STATIC__/js/jquery-v1.12.4.min.js"></script>
    <script src="__STATIC__/js/jquery.easing.js"></script>
    <script src="__STATIC__/js/move-top.js"></script>
    <script src="__STATIC__/js/define.js"></script>
    <script src="__STATIC__/js/moment.min.js"></script>
    <script src="__STATIC__/js/moment-with-locales.min.js"></script>
    <script src="__STATIC__/js/jquery.enplaceholder.js"></script>

    <script src="__STATIC__/js/subjects.js"></script>
    <script src="__STATIC__/js/lang.js"></script>
    <script src="__STATIC__/js/header_v4.js"></script>

    <script src="__STATIC__/js/session2.js"></script>
    <script src="__STATIC__/js/list-page_my.js"></script>

</head>

<body>
    <div id="layout">
        {include file="public/header" /}
        <div id="menu">
            <!-- <img src="{$equip_pic}" style="width: 100%;height: 170px;"> -->
        </div>
        <div id="center">
            <div id="content" class="content">

                <div class="center_content">
                    <form id="searchSection" onSubmit="return false;"></form>
                    <div class="sort-container_box clearfix">
                        <div class="sort-container clearfix"></div>
                    </div>
                    <div class="course">
                        <ul class="clearfix" id="list">

                        </ul>
                    </div>
                    <div class="getMore">
                        <span class="more">更&nbsp;多&nbsp;&nbsp;+</span>
                    </div>
                </div>
            </div>
        </div>
        {include file="public/footer" /}
        <!-- <script src="__STATIC__/js/bdhm.js"></script> -->
    </div>
</body>
</html>
<script type="text/javascript">
    var award = {$award};
    var declare = {$declare};


</script>
<script src="__STATIC__/js/qs.js"></script>
<script src="__STATIC__/js/list_page.js"></script>