<!DOCTYPE html>
<!--SoftTouchIT SiteC, version:1.0.686-->
<html>

<head>
    <title>忘记密码</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="format-detction" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Cache-Control" content="private, no-cache, no-store, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta content="虚拟仿真,实验,国家虚拟仿真实验教学项目,国家虚拟仿真实验教学项目共享服务平台,本科,实验空间,ilab,ilab-x" name="keywords">
    <link rel="icon" type="image/x-icon" href="#">
    <link rel="shortcut icon" href="/images/favicon2.ico" type="image/x-icon">
    <script src="__STATIC__/js/core.js"></script>
    <script src="__STATIC__/js/sha256.js"></script>
    <script src="__STATIC__/js/json3.js"></script>
    <script src="__STATIC__/js/qs.js"></script>
    <script src="__STATIC__/js/ie8.js"></script>
    <script src="__STATIC__/js/md5.js"></script>
    <script src="__STATIC__/js/dialog.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/dialog.css">
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <script src="__STATIC__/js/jquery-v1.12.4.min.js"></script>
    <script src="__STATIC__/js/jquery.easing.js"></script>
    <script src="__STATIC__/js/move-top.js"></script>
    <script src="__STATIC__/js/define.js"></script>
    <script src="__STATIC__/js/moment.min.js"></script>
    <script src="__STATIC__/js/moment-with-locales.min.js"></script>
    <script src="__STATIC__/js/jquery.enplaceholder.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/header_v4.css">
    <script src="__STATIC__/js/subjects.js"></script>
    <script src="__STATIC__/js/lang.js"></script>
    <script src="__STATIC__/js/header_v4.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/footer_v4.css">
    <link rel="stylesheet" href="__STATIC__/css/find-password.css">
    <script src="__STATIC__/js/find-password.js"></script>
</head>

<body>
<div id="layout">
    <div id="north">
        <div class="header">
            <div class="header-bg"></div>
            <div class="header_container">
                <a href="index.html">
                    <div class="logo">
                        <img src="{$system.logo}">
                        <span>{$system.title}</span>
                    </div>
                </a>
                <div class="nav clearfix">
                    <ul class="clearfix" id="menu"></ul>
                    <div class="dropdown_more">
                        <div class="more">更多</div>
                        <ul class="dropdown_menu" id="dropdown"></ul>
                    </div>
                    <div class="nav-right">
                        <div class="changeLang before"></div>
                        <div id="user-info"><a href="{:url('login/index')}" class="to-login">登录</a><span class="line">|</span><a href="{:url('register/index')}" class="to-register">注册</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="menu"></div>
    <div id="center">
        <div id="content" class="content">
            <div class="center_content">
                <div class="word"> <i></i>

                    <span>忘记密码</span>
                </div>
                <div class="container">
                    <div class="main">
                        <p class="tip"></p>
                        <form class="form-signin" id="itemForm">
                            <div class="step0 hide">
                                <div class="reg-tab">
                                    <span class="tab tab1 on">通过手机号找回</span>
                                    <span class="tab tab2">通过邮箱找回</span>
                                </div>
                            </div>
                            <div class="step1">
                                <div class="item phone-reg">
                                    <input name="phone" type="num" class="form-control" placeholder="请输入手机号">
                                </div>
                                <div class="item email-reg hide">
                                    <input name="email" type="email" class="form-control" placeholder="请输入邮箱地址">
                                </div>
                                <div class="item">
                                    <input name="code" type="text" class="form-control short" placeholder="请输验证码">
                                    <span class="sendCode sendCode1">获取验证码</span>
                                </div>
                                <input type="button" class="btn" id="submitBtn" value="下一步">
                            </div>
                            <div class="step2">
                                <div class="item">
                                    <input name="password" type="password" class="form-control" placeholder="填写新密码">
                                </div>
                                <div class="item">
                                    <input name="password2" type="password" class="form-control" placeholder="再次填写新密码">
                                </div>
                                <input type="button" class="btn" id="submitBtn2" value="下一步">
                                <div class="tip2">
                                    <p>1、密码长度8-32位</p>
                                    <p>2、须同时包含大写字母、小写字母、数字、特殊字符中的任意三种</p>
                                    <p>3、密码不能包含邮箱</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="south">
        <div id="footer">
            <div class="bottom">
                <p>
                    <span>主办单位：天津瀚海星云数字科技股份有限公司</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>电话：022-23757972 服务热线：136 6207 0868 公司邮箱：hanisun@hanisun.com</span>
                    <span style="display:block">地址：天津市华苑产业区兰苑路5号A座4层412-2室 津ICP备17001123号-1 Copyright ©2017版权所有 天津瀚海星云数字科技股份有限公司</span>
                </p>
            </div>
        </div>
    </div>
    <script src="__STATIC__/js/bdhm.js"></script>
</div>
</body>

</html>