<!DOCTYPE html>
<!--SoftTouchIT SiteC, version:1.0.686-->
<html>

<head>
    <title>项目介绍</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="format-detction" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Cache-Control" content="private, no-cache, no-store, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta content="虚拟仿真,实验,国家虚拟仿真实验教学项目,国家虚拟仿真实验教学项目共享服务平台,本科,实验空间,ilab,ilab-x" name="keywords">
    <meta itemprop="image" content="/favicon.ico">
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
    <script src="__STATIC__/js/core.js"></script>
    <script src="__STATIC__/js/sha256.js"></script>
    <script src="__STATIC__/js/json3.js"></script>
    <script src="__STATIC__/js/qs.js"></script>
    <script src="__STATIC__/js/ie8.js"></script>
    <script src="__STATIC__/js/md5.js"></script>
    <script src="__STATIC__/js/dialog.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/dialog.css">
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <script src="__STATIC__/js/jquery-v1.12.4.min.js"></script>
    <script src="__STATIC__/js/jquery.easing.js"></script>
    <script src="__STATIC__/js/move-top.js"></script>
    <script src="__STATIC__/js/define.js"></script>
    <script src="__STATIC__/js/moment.min.js"></script>
    <script src="__STATIC__/js/moment-with-locales.min.js"></script>
    <script src="__STATIC__/js/jquery.enplaceholder.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/header_v4.css">
    <script src="__STATIC__/js/subjects.js"></script>
    <script src="__STATIC__/js/lang.js"></script>
    <script src="__STATIC__/js/header_v4.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/footer_v4.css">
    <link rel="stylesheet" href="__STATIC__/css/project-intro.css">
    <script src="__STATIC__/js/swfobject.js"></script>
    <script src="__STATIC__/js/session2.js"></script>
    <script src="__STATIC__/js/project-intro.js"></script>
</head>

<body>
    <div id="layout">
        {include file="public/header" /}
        <div id="menu"></div>
        <div id="center">
            <div id="content" class="content">
                <div class="center_content">
                    <div class="top" style="background-image: url('{$equip_pic}') ">
                        <div class="cover">
                            <div class="topbox">
                            </div>
                        </div>
                    </div>
                    <div class="center2 clearfix">
                        <div id="previewPlayer" class="resFlash" style="background-image:none">
                            <video src="{$video.equip_video}" controls="controls" style="width: 1024px;height: 618px;" poster="/{$video.equip_pic}">
                            您的浏览器不支持 video 标签。
                            </video>
                        </div>
                    </div>
                    <div class="center3 clearfix">
                        <div class="picbox">
                            {volist name="banner" id="vo"}
                            <div class="bg">
                                <img src="{$vo.equip_pic}">
                            </div>
                            {/volist}
                           
                        </div>
                    </div>
                    <div class="intro">
                        <div class="goal">
                            <span class="txt"><span class="Lwire"></span>宗旨<span class="Rwire"></span></span>
                        </div>
                        <p>坚持立德树人，强化以能力为先的人才培养理念，坚持“学生中心、产出导向、持续改进”的原则，突出应用驱动、资源共享，将实验教学信息化作为高等教育系统性变革的内生变量，以高质量实验教学助推高等教育教学质量变轨超车，助力高等教育强国建设。</p>
                    </div>
                </div>
            </div>
        </div>
        {include file="public/footer" /}
        <script src="__STATIC__/js/bdhm.js"></script>
    </div>
</body>

</html>