<!DOCTYPE html>
<html>
<head>
<title>VR直播列表</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<meta name="format-detction" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, must-revalidate">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<script src="__STATIC__/js/core.js"></script>
<script src="__STATIC__/js/sha256.js"></script>
<script src="__STATIC__/js/json3.js"></script>
<script src="__STATIC__/js/qs.js"></script>
<script src="__STATIC__/js/ie8.js"></script>
<script src="__STATIC__/js/md5.js"></script>
<!-- <script src="__STATIC__/js/dialog.js"></script> -->
<link rel="stylesheet" href="__STATIC__/css/dialog.css">
<link rel="stylesheet" href="__STATIC__/css/common.css">
<script src="__STATIC__/js/jquery-v1.12.4.min.js"></script>
<script src="__STATIC__/js/jquery.easing.js"></script>
<script src="__STATIC__/js/move-top.js"></script>
<script src="__STATIC__/js/define.js"></script>
<script src="__STATIC__/js/moment.min.js"></script>
<script src="__STATIC__/js/moment-with-locales.min.js"></script>
<script src="__STATIC__/js/jquery.enplaceholder.js"></script>
<link href="__STATIC__/css/idangerous.swiper-v2.7.6.min.css" rel="stylesheet">
<script src="__STATIC__/js/idangerous.swiper-v2.7.6.min.js"></script>
<link rel="stylesheet" href="__STATIC__/css/header_v4.css">
<script src="__STATIC__/js/subjects.js"></script>
<script src="__STATIC__/js/lang.js"></script>
<script src="__STATIC__/js/header_v4.js"></script>
<link rel="stylesheet" href="__STATIC__/css/footer_v4.css">
<link rel="stylesheet" href="__STATIC__/css/index4.css">
<link rel="stylesheet" href="__STATIC__/css/live_list.css"><!--直播列表页样式-->
<script src="__STATIC__/js/session4.js"></script>
<!-- <script src="__STATIC__/js/index4.js"></script> -->
</head>
<body>
<div id="layout" style="position: relative;">
    {include file="public/live_header" /}
    
    <div id='live_list'><!--直播列表-->
        <div class="live_div">
            <img class='' src="__STATIC__/images/ns2.png" alt="封面图片">
            <div class="live_info">
                <p class="live_name">南卡大学金融课南卡大学金融课</p>
                <p><span class="info_name">主讲老师：</span><span class="info_data">王老师</span></p>
                <p class="p_r brief_p">
                    <span class="info_name">课程简介：</span>
                    <span class="info_data live_brief">
                        金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。
                        金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。
                    </span>
                </p>
                <p>
                    <span class="info_name">直播时间：</span><span class="info_data">2020-07-02 12:00:00</span>
                </p>
            </div>
        </div>
        <div class="live_div">
            <img class='' src="__STATIC__/images/ns2.png" alt="封面图片">
            <div class="live_info">
                <p class="live_name">南卡大学金融课南卡大学金融课</p>
                <p><span class="info_name">主讲老师：</span><span class="info_data">王老师</span></p>
                <p class="p_r brief_p">
                    <span class="info_name">课程简介：</span>
                    <span class="info_data live_brief">
                        金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。
                        金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。金融很重要，好好学。
                    </span>
                </p>
                <p>
                    <span class="info_name">直播时间：</span><span class="info_data">2020-07-02 12:00:00</span>
                </p>
            </div>
        </div>
    </div><!--直播列表 结束-->
</div><!--id=layout 结束-->
<div id="south">
    <div id="footer">
        <div class="bottom">
            <p>
                <span style="display:block">{//$system.address} {//$system.record_no} {//$system.copyright} {//$system.company_name}</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>