/*底部样式*/
#south {
    clear:both;
    background:#f8fafc;
    color:#96a0a2;
    border-top:#f3f3f3  1px solid;
    width:100%;
    float:left;
}

#footer {
    border-top:#f3f3f3 1px solid;
}

.bottom {
    border-top: #eff2f5 1px solid;
    position: relative;
    text-align: center;
    margin: 0 auto;
    /*padding: 0 20px;*/
    background: #f8fafc !important;
    min-height: 80px;
    min-width: 1200px;
    line-height: 78px;
}

.bottom a {
    /*position:absolute;*/
    /*right:20px;*/
    color:#333;
}

.en-lang .bottom {
    line-height:20px;
}

.bottom p {
    color:#999;
    text-align:center;
    /*width:1240px;*/
    margin:0 auto;
}

.en-lang .bottom p {
    padding-top:30px;
}

.bottom p>span {
    margin-right:15px;
}

.bottom p span a {
    color: #717171;
}

.bottom p span a:hover {
    color: #2095ff;
}
/*2018-11-23*/
 .wechat {
    font-size:14px;
    -webkit-text-stroke-width: 0;
    cursor:pointer;
    position:relative;
    display:inline-block;
}

.wechat i {
    font-size:18px;
    position: relative;
    top: 2px;
}

.wechat-img {
    /*width:280px;*/
    /*height:300px;*/
    padding:16px;
    position:absolute;
    bottom:50px;
    left:50%;
    margin: 0 0 15px -90px;
    z-index:1;
    text-align:center;
    background-color:#fff;
    box-shadow:0 0 5px rgba(0, 0, 0, .15);
    -webkit-box-shadow:0 0 5px rgba(0, 0, 0, .15);
    -moz-box-shadow:0 0 5px rgba(0, 0, 0, .15);
    display:none;
}

.en-lang .wechat-img {
    bottom:20px;
}

.wechat-img:after {
    content:"";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
}

.wechat-img img {
    width:180px;
    height:auto;
    display:block;
    /*margin:10px auto;*/
}

.bottom p span.wechat-img span {
    display:block;
    margin:0;
    line-height:normal;
}

.bottom p span.wechat-img span.img-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}