<!-- <div id="south">
    <div id="footer">
        <div class="bottom">
            <p>
                <span>主办单位：{$system.organize}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>电话：{$system.phone} 服务热线：{$system.service_hot_line} 公司邮箱：{$system.email}</span>
                <span style="display:block">地址：{$system.address} {$system.record_no} {$system.copyright} {$system.company_name}</span>
            </p>
        </div>
    </div>
</div> -->

<div id="south">
    <div id="footer">
        <div class="bottom">
            <p>
                <span style="display:block">{$system.address} {$system.record_no} {$system.copyright} {$system.company_name}</span>
            </p>
        </div>
    </div>
</div>