<div id="south">
    <div id="footer">
        <div class="bottom">
            <p>
                <span style="display:block"><?php echo config('footer_info'); ?></span>
            </p>
        </div>
    </div>
</div>
<script>
    //前台页面头部导航点击后变色
    // var href = location.pathname;
    // var nav_a = $('#menu li.nav_item a');
   
    // nav_a.each(function () {   
    //     if ( href == $(this).attr('href') )
    //     {
    //         $(this).css('color', '#50abf2');
    //     }
    // })
</script>