{extend name="template/base" /}
{block name="content"}

<div class="page-container">
    <style>
        .nav {
            display: inline-block;
        }
        .nav li {
            float:left;
            padding:10px 10px;
            border:1px solid #f5f5f5;
        }
        .form {
            display:none;
        }
        .myform {
            display:block;
        }
        .row {
            margin-top:20px;
        }
    </style>

    <form method="post" id="form" action="{:\\think\\Request::instance()->baseUrl()}">
    <!-- //通用信息 -->
    <input type="hidden" name="id" value="{$vo.id ?? ''}">
    <div class="form form-horizontal form1 myform"  >
        
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>学院专业：</label>
            <?php $cat_list = model('category')->cat_list(0,$vo['category'],true); ?>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    <select name="cat_id" class="select" datatype="*" nullmsg="请选择学院专业">
                        <option value="0">请选择学院专业</option>
                        {$cat_list}
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
      
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>直播名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="直播名称" name="live_name" value="{$vo.live_name ?? ''}"  datatype="*" nullmsg="请填写直播名称">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
      
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>直播教师：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="直播教师" name="teacher" value="{$vo.teacher ?? ''}"  datatype="*" nullmsg="请填写直播教师">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>直播开始时间：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input id='vr_start_time' type="text" class="input-text" placeholder="直播开始时间" name="start_time" readonly="readonly" value="{:date('Y-m-d H:i:s', $vo.start_time)}">
            </div>
            <div class="col-xs-1 col-sm-1" style="margin-top:4px;padding:2px;cursor:pointer;width: auto;
            color: #5a98de;border: 1px solid #5a98de;border-radius: 4px;" id='show_used'>已占用时段</div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>直播结束时间：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input id='vr_end_time'type="text" class="input-text" placeholder="直播结束时间" name="end_time" readonly="readonly" value="{:date('Y-m-d H:i:s', $vo.end_time)}">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>直播简介：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <textarea class="textarea" placeholder="直播简介" name="live_brief" datatype="s10-80" nullmsg="请填写直播简介">{$vo.live_brief ?? ''}</textarea>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>封面图：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" name="live_pic" id="upload" placeholder="请点击后面的上传按钮" style="width: 70%" value="{$vo.live_pic ?? ''}" readonly='readonly'>
                <button type="button" class="btn btn-primary radius" onclick="layer_open('文件上传','{:\\think\\Url::build(\'Upload/index\', [\'id\' => \'upload\'])}')">上传</button>
                <a onclick="show_img();" type="button" class="btn btn-success radius">预览</a>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        </div>
    
    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
            <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
            <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
        </div>
    </div>
   </form>
</div>
<!--显示已占用时段-->
<style>
    #used_time {text-align: center;}
    #used_time p{padding: 3px;}
</style>
<div id='used_time' style='display: none;'>
</div>
<!--显示已占用时段 over-->
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/showdown/1.4.2/showdown.min.js"></script>
<!-- <script>window.UEDITOR_HOME_URL = '__LIB__/ueditor/1.4.3/'</script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script> -->
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__LIB__/uploads/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="__LIB__/uploads/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="__LIB__/uploads/jquery.fileupload.js"></script>
<link rel="stylesheet" type="text/css" href="__LIB__/webuploader/webuploader.css">
<script type="text/javascript" src="__LIB__/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/layui/lay/modules/layer.js"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css"/>
<script>
    $(function () {
        $("[name='subject_level']").find("[value='{$vo.subject_level ?? ''}']").attr("selected", true);

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){
                ajax_progress(ret);
            }
        });     
    })

    function show_img(){
        var img_url = $('#upload').val();
        if (img_url.indexOf(',') == -1) {
            layer.photos({photos: { 'data': [{'src': $('#upload').val()}] },closeBtn:1,area: '450px'});
        }else{
            var img_arr = img_url.split(',');
            var data = [];
            for (var i = img_arr.length - 1; i >= 0; i--) {
                data.push({'src':img_arr[i]});
            }
            console.log(data);
            layer.photos({
                photos: { 
                    'data': data 
                },
                closeBtn:1,
                area: '450px'
            })
        }
    }
</script>
<script type="text/javascript">
    $('#fileupload').fileupload({
        url:"{:url('uploadZip')}",
        dataType: 'json',
        singleFileUploads: false,
        dropZone: $('#drag'),
        start: function () {
            layer_msg = layer.msg('正在上传中……', {time: 100000000});
        },
        done:function(e,data){
            console.log(data);
            layer.close(layer_msg);
            if(data.result.code == 0){
                layer.msg(data.result.msg);
                $("#zip_file_report").text(data.result.data.zip_file);
                $("#zip_report").val(data.result.data.zip_file);
                $("[name='zip_name']").val(data.result.data.name);
            }
            if(data.result.code != 0){
                layer.msg(data.result.msg);
            }
        }
    });
    $("#fileupload_video").fileupload({
        url:"{:url('uploadVideo')}",
        dataType:"json",
        singleFileUploads: false,
        dropZone: $('#drag'),
        start: function () {
            layer_msg = layer.msg('正在上传中…', {time: 100000000});
        },
        progressall: function (e, data) {
            $('.layui-layer-msg .layui-layer-content').html('已上传' + (data.loaded / data.total * 100).toFixed(2) + '%');
        },
        done:function(e,data){
            console.log(data);
            layer.close(layer_msg);
            if(data.result.code == 0){
                layer.msg(data.result.msg);
                $("#video_file_brief").text("");
                $("#video").val("");
                $(".ved").html("");
                $(".subject_brief_img").hide();
                $("#video_file_brief").text(data.result.data.primary_name);
                $("#video").val(data.result.data.file_name);
                $(".ved").append("<div style=\"position:relative;display:inline-block;\" class=\"veds\"><span style=\"position:absolute;right:0;z-index:9999;\" class=\"removeVed\">X</span><video id=\"videos\" controls=\"controls\" src=\""+data.result.data.file_name+"\"><source src=\""+data.result.data.file_name+"\" /></video></div>");
            }
            if(data.result.code != 0){
                layer.msg(data.result.msg);
            }
        }
    });

    $(document).on("click",".removeVed",function(){
        var removeVed = $(".removeVed").parent('div.veds');
        removeVed.remove();
        $("#video_file_brief").text("");
        $("#video").val("");
        $(".ved").html("");
    });

    $("#fileupload_lead").fileupload({
        url:"{:url('uploadVideoLead')}",
        dataType:"json",
        singleFileUploads: false,
        start: function () {
            layer_msg = layer.msg('正在上传中…', {time: 100000000});
        },
        progressall: function (e, data) {
            $('.layui-layer-msg .layui-layer-content').html('已上传' + (data.loaded / data.total * 100).toFixed(2) + '%');
        },
        done:function(e,data){
            console.log(data);
            layer.close(layer_msg);
            if(data.result.code == 0){
                layer.msg(data.result.msg);
                $("#video_file_lead").text("");
                $("#video_lead").val("");
                $(".ved_lead").html("");
                $(".subject_lead_img").hide();
                $("#video_file_lead").text(data.result.data.primary_name);
                $("#video_lead").val(data.result.data.file_name);
                $(".ved_lead").append("<div style=\"position:relative;display:inline-block;\" class=\"videos_lead\"><span style=\"position:absolute;right:0;z-index:9999;\" class=\"removeVideos_lead\">X</span><video id=\"videos_lead\" controls=\"controls\" src=\""+data.result.data.file_name+"\"><source src=\""+data.result.data.file_name+"\" /></video></div>");
                
            }
            if(data.result.code != 0){
                layer.msg(data.result.msg);
            }
        }
    });

    $(document).on("click",".removeVideos_lead",function(){
        var removeVideos_lead = $(".removeVideos_lead").parent('div.videos_lead');
        removeVideos_lead.remove();
        $("#video_file_lead").text("");
        $("#video_lead").val("");
        $(".ved_lead").html("");
    });

    $("#fileupload_report").fileupload({
        url:"{:url('uploadVideoReport')}",
        dataType:"json",
        singleFileUploads: false,
        start: function () {
            layer_msg = layer.msg('正在上传中…', {time: 100000000});
        },
        progressall: function (e, data) {
            $('.layui-layer-msg .layui-layer-content').html('已上传' + (data.loaded / data.total * 100).toFixed(2) + '%');
        },
        done:function(e,data){
            console.log(data);
            layer.close(layer_msg);
            if(data.result.code == 0){
                layer.msg(data.result.msg);
                $("#video_file_report").text("");
                $("#video_report").val("");
                $("#video_file_report").text(data.result.data.primary_name);
                $("#video_report").val(data.result.data.file_name);
            }
            if(data.result.code != 0){
                layer.msg(data.result.msg);
            }
        }
    });

</script>
<script>
function screen(status){
    if(status == 1){
        $("#subject_brief_img").hide();
        var video = document.getElementById('videos');
        var canvas = document.getElementById('canvas');
        var ext = canvas.getContext('2d');
        var width = $(video).width();
        var height = $(video).height();
           
        $(canvas).attr('height', height).attr('width', width);
        ext.drawImage(video, 0, 0,width,height, 0, 0,width,height);
        var imgSrc = document.getElementById("canvas").toDataURL("image/png"); 
        $(".canvas_img").append("<span style=\"position:absolute;right:0;z-index:9999;\" class=\"removeCanvasImg\" data-status=\"1\">X</span>");
    }else{
        $("#subject_lead_img").hide();
        var video = document.getElementById('videos_lead');
        var canvas = document.getElementById('canvas_lead');
        var ext = canvas.getContext('2d');
        var width = $(video).width();
        var height = $(video).height();
           
        $(canvas).attr('height', height).attr('width', width);
        ext.drawImage(video, 0, 0,width,height, 0, 0,width,height);
        var imgSrc = document.getElementById("canvas_lead").toDataURL("image/png"); 
        $(".canvas_lead_img").append("<span style=\"position:absolute;right:0;z-index:9999;\" class=\"removeCanvasLeadImg\" data-status=\"1\">X</span>");
    }
    $.ajax({
        type:"POST",
        url:"{:url('capture')}",
        dataType:"json",
        data:{
          img:imgSrc,
          status:status
        },
        success:function(r){
            console.log(r);
            if(status == 1){
                $("[name='subject_brief_img']").val(r);
            }else{
                $("[name='subject_lead_img']").val(r);
            }
          
        },
        error:function(){
          console.log("error");
        }
    })
}

$(document).on("click",".removeCanvasImg",function(e){
    var status = $(this).data("status");
    if(status == 2){
        $(".subject_brief_img").hide();
    }else{
        $("#canvas").attr("width","auto");
        $("#canvas").attr("height","auto");
        $(".canvas_img").find("span").remove();
        $("[name='subject_brief_img']").val("");
    }
    

});
$(document).on("click",".removeCanvasLeadImg",function(){
    var status = $(this).data("status");
    if(status == 2){
        $(".subject_lead_img").hide();
    }else{
        $("#canvas_lead").attr("width","auto");
        $("#canvas_lead").attr("height","auto");
        $(".canvas_lead_img").find("span").remove();
        $("[name='subject_lead_img']").val("");
    }

});

function min_date()
{
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth()+1;
    var day = date.getDate();
    var hour = date.getHours();
    var minute = date.getMinutes();
    var second = date.getSeconds();

    dateTime = year+'-'+month+'-'+day+ ' ' +hour+':'+minute+':'+second;
    return dateTime;
}

layui.use('laydate', function(){
  let laydate = layui.laydate;
  
  //执行一个laydate实例 渲染直播开始时间
  laydate.render({
    elem: '#vr_start_time', //指定元素
    type: 'datetime',
    min: min_date(),
    max: 7,
    done:function(value, date, endDate){
        
        if ( date.hours < 8 ||date.hours > 20 )
        {
            layer.msg('只能选择8~20点时间段',{icon:2});
            return;
        }

        end_time_obj.config.min ={
            year:date.year, 
            month:date.month-1, //关键
            date: date.date, 
            hours: date.hours,
        };

        end_time_obj.config.max ={
            year:date.year, 
            month:date.month-1, //关键
            date: date.date, 
            hours: date.hours+6,
        };
    },//done 结束
  });

  //执行一个laydate实例 渲染直播结束时间
  var end_time_obj = laydate.render({
    elem: '#vr_end_time', //指定元素
    type: 'datetime',
    min: min_date(),
    max: 7,
    done:function(value, date, endDate){
        if ( date.hours < 8 ||date.hours > 20 )
        {
            layer.msg('只能选择8~20点时间段',{icon:2});
            return;
        }
    },
  });
  
});

var used_time_e = $('#used_time');//显示占用时段的弹框
var show_used_e = $('#show_used');//占用时段按钮

show_used_e.click(function () {
    let timestamp = Date.parse(new Date()) / 1000;

    $.ajax({
        url:'/admin/live/show_used_time',
        type:"post",
        data:{
            t: timestamp
        },
        dataType:'json',
        success:function (info){
 
            if (info.code==200)
            {
                let html = '';
                let n = info.data.length;

                for(let i=0; i < n; i++)
                {
                    html += '<p>' + info.data[i] + '</p>';
                }

                used_time_e.html(html);

                layer.open({
                    type: 1,
                    shade: false,
                    title: '已占用的时段',
                    content: used_time_e,
                    offset:'t',//顶部正中显示
                    area: ['300px', '230px'],
                })
            }else if(info.code==100)
            {
                layer.msg(info.data, {icon:1});
            }
        },//success 结束
        error:function(info){
            layer.msg('网络异常', {icon:2});
        }
    });//ajax 结束
})//show_used_e.click 结束
</script>
{/block}